.sr-only {
  position: absolute;
  z-index: -1;
  display: inline-block;
  overflow: hidden;
  height: 1px;
  width: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  word-break: initial;
  word-wrap: initial;
}

.paging{
  position: absolute;
  bottom: 120px;
  left: 35px;
  right: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 50px;
  button{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #b2b2b2;
    &.current{
      background-color: #fecd00;
      width: 46px;height: 46px;
    }
  }
}

#nav{
  
  &.show{
    opacity: 1;
    visibility: visible;
  }
  
}

.menu-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 175px;
  align-items: end;
  touch-action: none;
  z-index:10;
}

.menu-item, .menu2-item {
  font-size: 0;
  height: 175px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.menu-item {
  display:block;
}

.menu2-item {
  display:none;
}

@for $i from 11 through 15 {
 body.stage-#{$i} {
   .menu2-item {
     display: block;
   }
   
   .menu-item {
     display: none;
   }
 }
}

.menu-item-0 {
  width:250px;
  height: 175px;
  background: url(/assets/menu/0.png) no-repeat 50% 100%;
}
.menu-item-1 {
  width:499px;
  height: 175px;
  background: url(/assets/menu/1.png) no-repeat 50% 100%;
}
body.stage-1 .menu-item-1,
body.stage-2 .menu-item-1 {
  background: url(/assets/menu/1_on.png) no-repeat 50% 100%;
}

.menu-item-2 {
  width:441px;
  height: 175px;
  background: url(/assets/menu/2.png) no-repeat 50% 100%;
}
body.stage-3 .menu-item-2 {
  background: url(/assets/menu/2_on.png) no-repeat 50% 100%;
}


.menu-item-3 {
  width:501px;
  height: 175px;
  background: url(/assets/menu/3.png) no-repeat 50% 100%;
}
body.stage-4 .menu-item-3,
body.stage-5 .menu-item-3,
body.stage-6 .menu-item-3 {
  background: url(/assets/menu/3_on.png) no-repeat 50% 100%;
}


.menu-item-4 {
  width:469px;
  height: 175px;
  background: url(/assets/menu/4.png) no-repeat 50% 100%;
}
body.stage-7 .menu-item-4,
body.stage-8 .menu-item-4,
body.stage-9 .menu-item-4 {
  background: url(/assets/menu/4_on.png) no-repeat 50% 100%;
}


.wrap-dot-g {
  position: absolute;
  bottom: 94px;
  left: 50%;
  transform: translateX(-50%);
  display:flex;
  gap:36px;
}

.btn-dot-g {
  width:80px;
  height: 80px;
  /* 
  background-color: #000;
  opacity: 0.5;
  */
  
}

<<<<<<< HEAD
// .stage-10 #nav {display:none;}
=======
>>>>>>> 93bc5d38370515c51671c0ecc70c20386bd7c3bb
