<div class="slide-page page-15">
    <img src="/assets/bg-frame2.jpg" alt="">



    <div class="item2">
        <div class="gh-img">
            <div class="imgover"><img src="/assets/page15/p15_cont1_pr.png" alt=""></div>
        </div>
    </div>
    <div class="item3">
        <div class="gh-img">
            <div class="imgover"><img src="/assets/page15/p15_cont2_pr.png" alt=""></div>
        </div>
    </div>

    <div class="ani-default p-title"><img src="/assets/page15/p15_title.png" alt=""></div>
    <div class="ani-default cont1"><img src="/assets/page15/p15_01.png" alt=""></div>
    <div class="ani-default cont2"><img src="/assets/page15/p15_02.png" alt=""></div>
</div>