<div class="slide-page page-13">
    <img src="/assets/bg-frame2.jpg" alt="">

    <div class="item2">
        <div class="gh-img">
            <div class="imgover"><img src="/assets/page13/p13_02_pr.png" alt=""></div>
        </div>
    </div>

    <div class="ani-default p-title"><img src="/assets/page13/p13_title.png" alt=""></div>
    <div class="ani-default cont1"><img src="/assets/page13/p13_01.png" alt=""></div>
    <div class="ani-default cont2"><img src="/assets/page13/p13_02.png" alt=""></div>
    <div class="ani-default cont3"><img src="/assets/page13/p13_03.png" alt=""></div>
    <div class="ani-default cont4"><img src="/assets/page13/p13_04.png" alt=""></div>
    <div class="ani-default cont5"><img src="/assets/page13/p13_05.png" alt=""></div>
</div>