<div class="slide-page page-5">
    <img src="/assets/page5/p5_back.jpg" alt="">
    <!-- <img src="/assets/page5/5_01.jpg" alt=""> -->
    <div class="bar-container a">
        <div class="bar bar-1"></div>
        <div class="line"><img src="/assets/page5/p5_gr1_line-b.png" alt=""></div>
        <div class="cont"><img src="/assets/page5/page5-n1.png" alt=""></div>
    </div>
    <div class="bar-container b">
        <div class="bar bar-2"></div>
        <div class="line"><img src="/assets/page5/p5_gr1_line-g.png" alt=""></div>
        <div class="cont"><img src="/assets/page5/page5-n2.png" alt=""></div>
    </div>

    <div class="ani-default p-title"><img src="/assets/page5/p5_title.png" alt=""></div>
    <div class="ani-default cont1"><img src="/assets/page5/p5_cont1.png" alt=""></div>

    <div class="ani-default cont2"><img src="/assets/page5/p5_gr_box.png" alt=""></div>

    <div class="item2">
        <div class="gh-img">
            <div class="imgover"><img src="/assets/page5/p5_gr_2.png" alt=""></div>
        </div>
    </div>

    <div class="ani-default cont3"><img src="/assets/page5/p5_cont3.png" alt=""></div>

    <div class="wrap-dot-g">
        <button class="btn-dot-g g5"></button>
        <button class="btn-dot-g g6"></button>
        <button class="btn-dot-g g7"></button>
    </div>
</div>